<div class="panel panel-default">
    <div class="panel-heading">
        <h2 class="panel-title">View job  <b>{{job.jobTitle}}{{job.jobId}}</b></h2>
    </div>
    <div class="panel-body">

        <div class="row">
            <div class="col-lg-6">
                <div class="form-group">
                    <label for="jobid">Job Id:</label>
                    <span id="jobid" class="form-control">{{job.jobId}}</span>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="form-group">
                    <label for="jobtitle">jobtitle:</label>
                    <span id="jobtitle" class="form-control">{{job.jobTitle}}</span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <div class="form-group">
                    <label for="maxsalary">Max Salary:</label>
                    <span id="maxsalary" class="form-control">{{job.maxSalary}}</span>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="form-group">
                    <label for="minsalary">Min Salary:</label>
                    <span id="minsalary" class="form-control">{{job.minSalary}}</span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-5"></div>
            <div class="col-md-7">
                <div class="container">
                    <button class="btn btn-default" ng-click="back()">Back</button>
                </div>
            </div>
        </div>

    </div>
</div>